* {
    margin: 0;
    padding: 0;
    /* Facilita o dimensionamento dos elementos dizendo que a borda do elemenro pertence ao tamanho total deste */
    box-sizing: border-box;
}

html {
    background-color: #fff;
    color: #555;
    font-family: sans-serif;
    font-weight: 300;
    font-size: 20px;
    text-rendering: optimizeLegibility;
}

header {
    background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.9)), url(img/Paisagem-1.jpg);
    height: 100vh;
    background-size: cover;
    background-position: center;
}



.hero-text-box {
    position: absolute;
    top: 40%;
    left: 4%;


}

header h1 {
    margin: 0;
    color: #fff;
    font-weight: 300;
    word-spacing: 1px;
    margin-bottom: 10px;

}

header a {
    text-decoration: none;
}

.btn:link,
.btn:visited {
    color: #fff;
    border-radius: 30px;
    padding: 5px 15px;
    margin-right: 10px;
}

.btn-full {
    background-color: rgb(224, 89, 39);
    transition: background-color 0.9s;
}

.btn-ghost {
    color: orange;
    transition: background-color 0.9s;

}

.btn-full:hover,
.btn-full :active {
    background-color: #e4a124;
    transition: background-color 0.5s;
}

.btn-ghost:hover,
.btn-ghost :active {
    color: #e4a124;
    transition: background-color 0.5s;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: transparent;
    padding: 10px;
  }
  
  .logo {
    display: flex;
    align-items: center;
    margin-right: auto;
    margin-left: 20px;
  }
  
  .logo img {
    height: 100px;
    margin-right: 10px;
  }
  
  .links {
    display: flex;
    
    margin-right: 570px;
  }
  
  .links a {
    color: #fff;
    text-decoration: none;
    margin-right: 10px;
  }
  
  .links a:hover {
    text-decoration: underline;
  }
  
  .search-box {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 200px;
    margin-left: 20px;
    margin-right: 20px;
  }
  
  .search-box input[type="text"] {
    flex: 1;
    padding: 10px;
    font-size: 16px;
    border: none;
    border-radius: 5px 0 0 5px;
    background-color: transparent;
  }
  
  .search-box input[type="text"]::placeholder {
    color: #fff;
  }
  
  .search-box button[type="submit"] {
    align-self: center;
    margin-left: 10px;
    padding: 10px;
    font-size: 16px;
    color: #000;
    background-color: #fff;
    border: none;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
  }
  
  .search-box button[type="submit"]:hover {
    background-color: #f1f1f1;
  }
  